*{
  margin: 0;
}
nav#topbar{
  padding: 20px;
  box-shadow: 0px 20px 25px 0px rgba(0,0,0,0.4);
  background-color: #343a40;
}
nav#topbar ul{
  list-style: none;
  text-align: center;
}
nav#topbar li {
  display: inline-block;
}
nav#topbar a{
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-weight: bolder;
  transition: background-color 0.4s;
}
nav#topbar a:hover{
  background-color: #343a60;
}
nav#topbar select{
  font-family: Arial;
  font-size: 12pt;
  padding: 5px 20px;
  border-radius: 10px;
  width: 250px;
}
img{
  width: 100%;
  height: auto;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
  padding: 20px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
div.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
div#conteudo{
  padding: 20px;
  background-color: #343a40;
  border-radius: 10px;
  width: 70%;
  position: absolute;
  top: 25%;
}
div#conteudo h1{
  color: white;
  font-family: Calibri, Arial;
  font-size: 24pt;
  padding: 5px;
}
div#conteudo p{
  color: white;
  font-family: Calibri, Arial;
  font-size: 14pt;
  padding: 5px;
  line-height: 200%;
}
div.content{
  padding: 20px;
  background-color: #343a40;
  border-radius: 10px;
  width: 70%;
  margin: 20px auto;
  display: none;
}
div.content p{
  color: white;
  font-family: Calibri, Arial;
  font-size: 14pt;
  padding: 5px;
  line-height: 200%;
}
div.content h1{
  color: white;
  font-family: Calibri, Arial;
  font-size: 24pt;
  padding: 5px;