*{
  margin: 0;
}
body{
  background-color: #355075;
}
nav#topbar{
  padding: 20px;
}
nav#topbar ul{
  list-style: none;
  text-align: center;
}
nav#topbar li {
  display: inline-block;
  margin: 0px 25px;
}
nav#topbar a{
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  color: white;
}
img{
  width: 100%;
  height: auto;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
  padding: 20px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}